@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html, body {
    overscroll-behavior: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    touch-action: pan-x pan-y;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
  }
}
